.javascript {
    background-color: aquamarine;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}

.header {
    display: none;
}

.navbar {
    display: none;
}

.blogs {
    display: none;
}
